[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]
[% PROCESS "global/field-descs.none.tmpl" %]
[% field_descs.short_short_desc     = field_descs.short_desc  %]
[% field_descs.assigned_to_realname = field_descs.assigned_to %]
[% field_descs.reporter_realname    = field_descs.reporter    %]
[% field_descs.qa_contact_realname  = field_descs.qa_contact  %]

[% IF Param('bb_use_debug_js') %]
    [% javascript_urls = [
        "extensions/TreeViewPlus/web/js/jquery.dynatree-1.2.2.js",
        "extensions/TreeViewPlus/web/js/tvp.js"
       ] %]
[% ELSE %]
    [% javascript_urls = [
        "extensions/TreeViewPlus/web/js/jquery.dynatree.min.js",
        "extensions/TreeViewPlus/web/js/tvp.js"
       ] %]
[% END %]

[% WRAPPER bb/wraplist.html.tmpl 
    title="$terms.Bug TreeViewPlus"
    style_urls = [
        "skins/standard/buglist.css",
        "extensions/TreeViewPlus/web/css/bugtree/tree.css",
      ]
%]

<table cellspacing="0" cellpadding="4">
    <tr class="bz_buglist_header bz_first_buglist_header">
        [% PROCESS columnheader
                column = columns.bug_id
                id = 'bug_id'
        %]
        [% FOREACH id = displaycolumns %]
            [% PROCESS columnheader
                    column = columns.$id
            %]
        [% END %]
        <td class="tvp_header">
            [<a href="#" id="tvp_expand">Expand All</a>]
            [<a href="#" id="tvp_collapse">Collapse All</a>]
            [<a href="#" id="tvp_load">Load All</a>]
            <span>
                Drag'n'Drop<input id="tvp_dnd_switch"
                    type="checkbox" disabled="disabled"
                    style="vertical-align: top;"/>
            </span>
        </td>
    </tr>
</table>

[% BLOCK columnheader %]
  <th class="tvp_header">
    [%- abbrev.$id.title || field_descs.$id || column.title FILTER html -%]
  </th>
[% END %]


<div id="tvp_container">
</div>

<script type="text/javascript">
var DISPLAY_COLUMNS = [% displaycolumns_json %];
var FIELD_MAP = [% field_map_json %];
var TVP_FROM = '[% tvp_from %]';
var TVP_TO = '[% tvp_to %]';
$(function() {
    TVP.init([% tree_json %]);
});
</script>

<!-- TreeViewPlus templates -->
<div id="tvp-templates" style="display:none;">

    <span class="tvp-buttons">
        <a href='#' class="tvp-open" title="Open this [% terms.bug %] in new window">[O]</a>
        <a href='#' class="tvp-edit" title="Edit this [% terms.bug %]">[E]</a>
        <a href='#' class="tvp-add"  title="Add new dependency to this [% terms.bug %]">[+]</a>
    </span>
</div>
<!-- TreeViewPlus templates END -->

[% END %]