[% PROCESS "global/field-descs.none.tmpl" %]
[% field_descs.short_short_desc     = field_descs.short_desc  %]
[% field_descs.assigned_to_realname = field_descs.assigned_to %]
[% field_descs.reporter_realname    = field_descs.reporter    %]
[% field_descs.qa_contact_realname  = field_descs.qa_contact  %]


<table cellspacing="0" cellpadding="4">
    <tr class="bz_buglist_header bz_first_buglist_header">
        [% PROCESS columnheader
                column = columns.bug_id
                id = 'bug_id'
        %]
        [% FOREACH id = displaycolumns %]
            [% PROCESS columnheader
                    column = columns.$id
            %]
        [% END %]
        <td>
            [<a href="#" id="tvp_expand">Expand All</a>]
            [<a href="#" id="tvp_collapse">Collapse All</a>]
            <span>
                Drag'n'Drop<input id="tvp_dnd_switch"
                    type="checkbox" disabled="disabled"
                    style="vertical-align: top;"/>
            </span>
        </td>
    </tr>
</table>

[% BLOCK columnheader %]
  <th class="tvp_header">
    [%- abbrev.$id.title || field_descs.$id || column.title FILTER html -%]
  </th>
[% END %]


<div id="tvp_container">
</div>

<script type="text/javascript">
var DISPLAY_COLUMNS = [% displaycolumns_json %];
var FIELD_MAP = [% field_map_json %];
var TVP_FROM = '[% tvp_from %]';
var TVP_TO = '[% tvp_to %]';
$(function() {
    TVP.init([% tree_json %]);
});
</script>

<!-- TreeViewPlus templates -->
<div id="tvp-templates" style="display:none;">

    <span class="tvp-buttons">
        <a href='#' class="tvp-open" title="Open this [% terms.bug %] in new window">[O]</a>
        <a href='#' class="tvp-edit" title="Edit this [% terms.bug %]">[E]</a>
        <a href='#' class="tvp-add"  title="Add new dependency to this [% terms.bug %]">[+]</a>
    </span>

    <form class="tvp-new-bug-form" enctype="multipart/form-data">
        <select class="tvp-new-bug-field" name="severity">
        [% FOREACH value IN bug_fields.bug_severity.legal_values %]
            <option value="[% value.name %]">[% value.name %]</option>
        [% END %]
        </select>
        <input class="tvp-new-bug-field" name="summary" size="50" value="Summary..." maxlength="255"/>
        <input name="save" type="button" value="Save"/>
        <input name="cancel" type="button" value="Cancel"/>
        <br/>
        <textarea class="tvp-new-bug-field" name="description" rows="5" cols="80">Description...</textarea>
    </form>

    <form class="tvp-edit-bug-form">
        <select class="tvp-bug-field" name="severity">
        [% FOREACH value IN bug_fields.bug_severity.legal_values %]
            <option value="[% value.name %]">[% value.name %]</option>
        [% END %]
        </select>
        <input class="tvp-bug-field" name="summary" size="50" value="" maxlength="255"/>
        <input name="save" type="button" value="Save"/>
        <input name="cancel" type="button" value="Cancel"/>
        <br/>
        <table>
        <tr>
        <td><label for="assigned_to">Assignee:</label></td>
        <td><input class="tvp-bug-field" name="assigned_to" size="25"/></td>
        </tr>

        <tr>
        <td><label for="status">Status:</label></td>
        <td><select class="tvp-bug-field" name="status">
        [% FOREACH value IN bug_fields.bug_status.legal_values %]
            <option value="[% value.name %]">[% value.name %]</option>
        [% END %]
        </select></td>
        </tr>

        <tr>
        <td><label for="resolution">Resolution:</label></td>
        <td><select class="tvp-bug-field" name="resolution">
        [% FOREACH value IN bug_fields.resolution.legal_values %]
            <option value="[% value.name %]">[% value.name %]</option>
        [% END %]
        </select></td>
        </tr>

        <tr>
        <td><label for="comment">Comment:</label></td>
        <td>
            <textarea name="comment" rows="1" cols="80" onclick="this.rows=5;"></textarea>
        </td>
        </tr>

        </table>

    </form>

</div>
<!-- TreeViewPlus templates END -->
