[% PROCESS "global/field-descs.none.tmpl" %]

<script src="extensions/TreeViewPlus/web/js/jquery.dynatree-1.2.1_rc3.js" type="text/javascript"></script>
<script src="extensions/TreeViewPlus/web/js/treeviewplus.js" type="text/javascript"></script>

<!-- TreeViewPlus templates -->
<div id="tvp-templates" style="display:none;">

    <span class="tvp-buttons">
        <a href='#' class="tvp-open">[O]</a>
        <a href='#' class="tvp-edit">[E]</a>
        <a href='#' class="tvp-add">[+]</a>
    </span>

    <div class="tvp-bug-widget">
        <div class="tvp-bug-widget-title"></div>
        <div class="tvp-bug-widget-container"></div>
    </div>

    <form class="tvp-new-bug-form" enctype="multipart/form-data">
        <select class="tvp-new-bug-field" name="severity">
        [% FOREACH value IN bug_fields.bug_severity.legal_values %]
            <option value="[% value.name %]">[% value.name %]</option>
        [% END %]
        </select>
        <input class="tvp-new-bug-field" name="summary" size="50" value="Summary..." maxlength="255"/>
        <input name="save" type="button" value="Save"/>
        <input name="cancel" type="button" value="Cancel"/>
        <br/>
        <textarea class="tvp-new-bug-field" name="description" rows="5" cols="80">Description...</textarea>
    </form>
</div>
<!-- TreeViewPlus templates END -->
