[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]
<!-- TreeViewPlus -->
[% IF template.name != 'list/list-tvp.html.tmpl' OR tvp_dir == 'blocked' %]
<a href="buglist.cgi?[% urlquerypart
						FILTER remove_query_param('format')
            FILTER remove_query_param('tvp_dir')
						FILTER html %]&amp;format=tvp&amp;tvp_dir=dependson">
TreeView+ (depends on)</a> |
[% END %]

[% IF template.name != 'list/list-tvp.html.tmpl' OR tvp_dir == 'dependson' %]
<a href="buglist.cgi?[% urlquerypart
						FILTER remove_query_param('format')
            FILTER remove_query_param('tvp_dir')
						FILTER html %]&amp;format=tvp&amp;tvp_dir=blocked">
TreeView+ (blocks)</a> |
[% END %]
